<%- include('partials/header') %>
<h1>Contact</h1> <br>
<div>
  <h4>Primary Email: <span>  dheerajjalagam@gmail.com</span></h4>
  <a href="mailto:dheerajjalagam@gmail.com?subject=feedback">Request Phone Number</a>
</div>
<br>
<h4 style="line-height:1.6"> <%=contactContent%> </h4>
<%- include('partials/footer') %>
